@import './_colors.scss';
@import './mixins';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;

	position: relative;
	background-color: $main-color;
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;

	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
.start-section {
	margin-top: 150px;
	width: 100%;
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.h1 {
		padding: 20px;
		text-align: center;
		font-size: 2rem;
	}
	.info {
		text-align: center;
		padding-bottom: 20px;
	}
	&__photo {
		background-image: url('../../dist/img/Inna_photo.jpg');
		background-size: cover;
		background-position: 50% 65%;
		margin: 0px 10px;
		width: 230px;
		height: 250px;
		border-radius: 40%;
	}
	&__text {
		padding: 0 20px;
		color: $text-color;
	}
}

.telephone {
	text-decoration: none;
	background-color: $buttons-color;
	color: white;
	border-radius: 25px;
	padding: 10px 20px;
	border: transparent;
	margin-bottom: 20px;
	font-size: 1.2rem;
	text-align: center;
	font-weight: light;
}
.telephone:hover {
	color: $main-color;
	background-color: $secondary-color;
}

.about_me {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 400px;
	margin: 40px 20px;
	background-color: #fffdfa;
	padding: 20px;
	box-shadow: 2px solid black;
	text-align: center;
	h2,
	h3 {
		padding: 20px;
	}
}
.opinions {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	.card {
		margin: 20px 0px;
	}
	h2 {
		text-align: center;
		padding: 30px 20px;
	}
	.author {
		font-weight: bold;
		font-size: 1.4rem;
		text-align: center;
	}
	.text-opinion {
		font-size: 1.2rem;
		padding: 10px;
	}
}
.information_about_classes {
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	.information_card {
		border-radius: 5px;
		width: 90%;
		padding: 10px 0px;
		margin-bottom: 20px;
		.card {
			h2 {
				padding: 30px 0;
				text-align: center;
			}
			padding: 0 20px;
			ul {
				padding: 10px 30px;
			}
			.price-button {
				padding: 10px 30px;
				margin: 5px 0px;
				border-radius: 15px;
				border: 1px solid white;
				background-color: #b6c2ce;
				font-size: 1.2rem;
			}
			.beige_button {
				width: 100%;
				padding: 10px 20px;
				font-size: 1.1rem;
				border-radius: 10px;
				margin: 10px 0px;
			}
			.telegram {
				background-color: #615140;
				color: white;
			}
			.buy {
				background-color: #fffdfa;
				color: #625241;
			}
			.price {
				padding: 10px;
				color: $main-color;
				font-size: 1.1rem;
				font-weight: 400;
			}
			.priceLessons {
				font-size: 1.4rem;
			}
		}
		.telegram_contact {
			a {
				text-decoration: none;
				color: $text-color;
			}
			text-align: center;
			text-decoration: none;
			background-color: $main-color;
			width: 100%;
			padding: 10px;
			border: 2px dashed black;
			background-color: #e7ebef;
		}
	}
	.blue {
		background-color: #a4b3c3;
		color: white;
	}
	.beige {
		background-color: #f4ebe2;
		color: black;
		border: 2px dashed black;
	}
}
.materials {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 80%;

	.img {
		width: auto;
		img {
			width: 100%;
		}
	}
	h3 {
		font-size: 1.8rem;
		padding: 20px;
	}
}
.questions {
	padding: 30px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	.question_box {
		.question {
			font-weight: bold;
			text-align-last: left;
			width: 100%;
			padding: 20px 40px;
			background-color: $buttons-color;
			color: $main-color;
			border: none;
			margin: 5px 0px;
			font-size: 1rem;
			cursor: pointer;
		}
		.answer {
			padding: 10px;
		}
	}
}
.none {
	display: none;
}
